html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

// Display Utilities

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-md-none {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.d-md-block {
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.objectfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-scroll {
  overflow: hidden;
}