$base-font-size: 1rem !default; //1rem = 16px
$base-line-height: 1.5 !default;


$font-primary: 'Good Type Regular';
$font-primary--bold: 'Good Type Bold';
$font-primary--italic: 'Good Type Italic';
$font-primary--bold-italic: 'Good Type Bold Italic';

//////////////
// Grid settings
//////////////
$grid-breakpoint-sm: 576px !default;
$grid-breakpoint-md: 768px !default;
$grid-breakpoint-lg: 992px !default;
$grid-breakpoint-xl: 1324px !default; //1280 + gutter*2


$grid-columns: 12 !default;
$grid-gutter-width: 22px !default;

$grid-breakpoints: (
  xs: 0,
  sm: $grid-breakpoint-sm,
  md: $grid-breakpoint-md,
  lg: $grid-breakpoint-lg,
  xl: $grid-breakpoint-xl
) !default;

$container-max-widths: (
  sm: $grid-breakpoint-sm - 2 * $grid-gutter-width,
  md: $grid-breakpoint-md - 2 * $grid-gutter-width,
  lg: $grid-breakpoint-lg - 2 * $grid-gutter-width,
  xl: $grid-breakpoint-xl - 2 * $grid-gutter-width
) !default;


//////////////
// Spacing
//////////////
$xsmall: .625rem; // 10px
$spacing--small: .75rem; // 12px;
$medsmall: 1.5625rem; // 25px
$med: 2.1875rem; // 35px
$medlarge: 3.125rem; // 50px
$spacing--base: $base-line-height * 1rem;
$spacing--medium: $spacing--base * 1.5;
$spacing--large: $spacing--base * 2;

//////////////
// Colors
//////////////
$black: #000;
$white: #fff;
$grey: grey;
$darkblue: #0d1749;
$lightblue: #00aff5;
$purple: #67319a;
$orange: #ff8f00;
$magenta: #ad0064;
$pink: #ff008e;


//////////////
// Forms
//////////////
$form-input-bg: $white;
$form-input-padding: $spacing--small;
$form-input-font-size: $base-font-size;
$form-input-line-height: $base-line-height;
$form-input-height: ($form-input-line-height + ($spacing--small * 2)) !default;


$form-input-color: $darkblue;
$form-input-border: 1px solid $darkblue;
$form-input-border-radius: 2px;
$form-input-bg-disabled: $grey;