.btn--sm {
  @include button(sm, $bliss-red);
}

.btn--md {
  @include button(md, $bliss-blue);
}

.btn--lg {
  @include button(lg, $bliss-purple);
}

.btn--blue {
  @include button(md, $bliss-blue);
}

.btn--red {
  @include button(md, $bliss-red);
}

.btn--green {
  @include button(md, $bliss-green);
}

.btn--purple {
  @include button(md, $bliss-purple);
}

button {
  @include input($white, $bliss-blue, 0);
  padding: $medsmall 18px;
  font-size: $base-font-size;
  background: $bliss-blue;
  border-color: $bliss-blue;

  @include media-breakpoint-up(md) {
    padding: $medsmall;
    font-size: 20px;
  }

  &:hover, &:visited {
    color: $bliss-blue;
    cursor: pointer;
    background: transparent;
  }
}
