.btn {
  background-color: $lightblue;
  border: 1px solid $lightblue;
  border-radius: 2px;
  font-size: $base-font-size;
  color: $white;
  display: inline-block;
  padding: $spacing--small $spacing--base;
  transition: all .2s ease-in-out;

  &:hover {
      background-color: $white;
      color: $lightblue;
      cursor: pointer;
  }
}
