@mixin button($size, $color, $display: inline-block) {
  display: $display;
  color: $white;
  text-align: center;
  text-decoration: none;
  background-color: $color;
  border: 1px solid $color;

  @if $size == sm {
    padding: $xsmall;
    line-height: 14px;
  }

  @if $size == md {
    padding: $spacing--small;
    line-height: 14px;
  }

  @if $size == lg {
    width: 100%;
    padding: $medsmall 0;
    font-size: 20px;
  }

  &:visited {
    color: $white;
  }

  &:hover,
  &.active {
    color: $color;
    cursor: pointer;
    background-color: transparent;
  }
}

@mixin navbutton($size, $color, $hover-color: $white, $display: inline-block) {
  display: $display;
  padding: $xsmall 0;
  line-height: .6;
  color: $color;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid $color;

  @if $size == sm {
    padding: $xsmall;
    line-height: 14px;
  }

  @if $size == md {
    padding: $spacing--small;
    line-height: 14px;
  }

  &:visited {
    color: $color;
  }

  &:hover,
  &.active {
    color: $hover-color;
    cursor: pointer;
    background-color: $color;
    background-color: rgba($color, .2);
    border-color: rgba($color, .2);
  }
}
