// Input Placeholder text
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

//Input field
@mixin input($color, $bg-color, $br-radius) {
  font-family: $font-primary;
  font-size: $base-font-size;
  font-weight: 400;
  color: $color;
  letter-spacing: -.17px;
  background: transparent;
  border: solid 1px $color;
  border-radius: $br-radius;

  &:hover, &:focus {
    background: $bg-color;
  }
}
